body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-content: center;
    background: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
}

.card {
    background: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 1px 1px 50px hsl(215, 32%, 8%);
    padding: 20px 20px 15px 20px;
    width: 300px
}

.container {
    position: relative;
    width: 300px;

}

.nft-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsla(178, 100%, 50%, 0.4);
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.nft-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft-price p {
    margin-left: 7px;
}

.eth-price {
    display: flex;
    align-items: center;
}

.eth-price p {
    color: hsl(178, 100%, 50%);
}

.days-left {
    display: flex;
    align-items: center;
}

.creator-id {
    display: flex;
    align-items: center;
}

.line {
    margin: 0;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.creator-id p {
    margin-left: 15px;
}

.creator-id a {
    margin-left: 7px;
}

.creator-id img {
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

a:hover {
    color: hsl(178, 100%, 50%);
}


.container:hover .nft-img {
    opacity: 0.3;
}

.container:hover .img-overlay {
    opacity: 1;
    cursor: pointer;
}

.eye-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}